# Ignore Gradle project-specific cache directory
.gradle
.idea
.DS_Store
.DS_Store/
# Ignore Gradle build output directory
build
tmp-zip

# Ignore Node.js technologies build and cache directories
node_modules/
.cache/
.bundle/
jupyter-pandas.zip
