<!DOCTYPE html>
<html ng-app="tucana">

<head>
  <meta charset="utf-8">
  <base href="SAAGIE_BASE_PATH">
  <title>Toucan Toco</title>
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="theme-color" content="#a0d1c5">
  <meta name="robots" content="noindex, nofollow, noarchive, noodp">
  
    <link rel="shortcut icon" href="favicon.ico">
  
  
    <link id="toucan-styles" href="main.f32714ba4636188b3e71.css" rel="stylesheet">
  
    <link id="toucan-styles" href="main-vendors.dc81fcf7ee7d1da7641c.css" rel="stylesheet">
  
  <link rel="manifest">
<link as="font" crossorigin="anonymous" href="fonts/Montserrat-Bold.d3085f68.ttf" rel="preload"><link as="font" crossorigin="anonymous" href="fonts/Montserrat-Regular.07689d4e.ttf" rel="preload"><link as="script" href="fonts/Toucan Toco.5e5ef1f0.woff2" rel="preload"><link as="font" crossorigin="anonymous" href="fonts/Toucan Toco.90ca8ed0.woff" rel="preload"><link as="style" href="main.f32714ba4636188b3e71.css" rel="preload"><link as="script" href="scripts/main.62e42fae50.js" rel="preload"><link as="script" href="scripts/main.62e42fae50.js.LICENSE" rel="preload"><link as="script" href="scripts/tc-params.js" rel="preload"></head>

<body ng-class="{fullanims: fullanims}">
  <script type="text/javascript">
    // DETECT IE 11
    if (
        navigator.appName.indexOf("Internet Explorer") != -1 &&
        navigator.appVersion.indexOf("MSIE 11") == -1
    ) {
        window.location.href = '/old-browser.html'
    }

    // DETECT IOS HOMESCREEN
    function iOSversion() {
        if (/iP(hone|od|ad)/.test(navigator.platform)) {
            var v = (navigator.appVersion).match(/OS (\d+)_(\d+)_?(\d+)?/);
            return [parseInt(v[1], 10), parseInt(v[2], 10), parseInt(v[3] || 0, 10)];
        }
    }

    var version = iOSversion();

    if ((window.navigator.standalone) && (version[0] < 11)) {
        document.body.classList.add("ios-fullscreen");
    }

    // iOs does not support the use of a manifest. Among other troubles it opens external links in new windows
    // preventing standalone external authentication.
    if (version){
      document.querySelector('link[rel="manifest"]').remove()
    }

    // Add the orientation-uncommon class to enhance display when a device is rotated (landscape mode)
    var isMobile = window.matchMedia('screen and (max-width: 767px)').matches;

    if (isMobile) {
        window.addEventListener('resize', applyOrientation);
    }

    function applyOrientation() {
        // innerWidth and innerHeight are largely available on all browsers https://developer.mozilla.org/fr/docs/Web/API/Window/innerHeight
        if (isMobile && (window.innerWidth > (window.innerHeight * 1.3))) {
            document.body.classList.add("orientation-uncommon");
        // when it's not we try to use the landscape orientation
        } else if (isMobile && window.matchMedia('screen and (orientation: landscape)').matches) {
            document.body.classList.add("orientation-uncommon");
        } else {
            document.body.classList.remove("orientation-uncommon");
        }
    }

    window.onload = applyOrientation;
  </script>
  <tc-splash></tc-splash>
  <div class="overlay loading" ng-show="$root.loading" ng-cloak>
    <div class="spinner"></div>
  </div>
  <div class="ui-view__wrapper">
    <gdpr-footer-ng ng-cloak></gdpr-footer-ng>
    <ui-view ng-cloak></ui-view>
  </div>
  <div class="login-wrapper" ng-cloak ng-if="$root.showLogin">
      <login-ng></login-ng>
  </div>
  <button class="speech-floating-button" ng-show="!$root.admin &amp;&amp;!$root.showLogin &amp;&amp; $root.Speech" ng-class="{'speech-floating-button--mic': !isTalking, 'speech-floating-button--voice': isTalking}">
    <i class="icon icon-mic speech-mic" ng-show="!isTalking"></i>
    <i class="icon icon-voice speech-voice" ng-show="isTalking"></i>
  </button>
  <div class="voice-container" ng-if="showVoiceContainer">
    <div class="speech"></div>
  </div>
  <script src="scripts/tc-params.js"></script>
  
  <script type="text/javascript" src="scripts/main.62e42fae50.js"></script>
  
  <script type="text/javascript" src="scripts/chunk.main-vendors.62e42fae50.js"></script>
  
</body>

</html>
