# needed by prophet
libv8-dev
# r-cran binaries
r-cran-ade4
r-cran-arules
r-cran-aws.s3
r-cran-betareg
r-cran-caret
r-cran-changepoint
r-cran-colorspace
r-cran-colourpicker
r-cran-corrplot
r-cran-curl
r-cran-data.table
r-cran-dbscan
r-cran-dtplyr
r-cran-dtw
r-cran-dummies
r-cran-dygraphs
r-cran-e1071
r-cran-ff
r-cran-ffbase
r-cran-forecast
r-cran-futile.logger
r-cran-ggplot2
r-cran-glmnet
r-cran-hunspell
r-cran-implyr
r-cran-jsonlite
r-cran-kernlab
r-cran-kknn
r-cran-knitr
r-cran-kohonen
r-cran-labeling
r-cran-leaflet
r-cran-leaps
r-cran-lsa
r-cran-magrittr
r-cran-mapproj
r-cran-maps
r-cran-maptools
r-cran-markdown
r-cran-mclust
r-cran-mlogit
r-cran-mvoutlier
r-cran-odbc
r-cran-packrat
r-cran-plotly
r-cran-pls
r-cran-proxy
r-cran-pvclust
r-cran-rattle
r-cran-readr
r-cran-readxl
r-cran-reshape2
r-cran-rjson
r-cran-rpart.plot
r-cran-rvest
r-cran-scales
r-cran-shiny
r-cran-shinydashboard
r-cran-shinyjs
r-cran-shinythemes
r-cran-skmeans
r-cran-sp
r-cran-sqldf
r-cran-stringi
r-cran-stringr
r-cran-tidyverse
r-cran-tm
r-cran-topicmodels
r-cran-tree
r-cran-trend
r-cran-tseries
r-cran-wordcloud
r-cran-xgboost
r-cran-xlsx
r-cran-xts
