#Datalake libraries
cython>=0.29,<3
pyarrow>=7.0,<7.1
hdfs[avro,dataframe,kerberos]>=2.6,<2.7
kerberos>=1.3,<1.4
requests-kerberos>=0.12,<0.13
impyla>=0.17,<0.18
ibis-framework>=2.0,<2.1
thrift-sasl==0.4.3
thrift==0.11.0
pyodbc>=4.0,<4.1
SQLAlchemy>=1.4,<1.5
fastparquet>=0.7,<0.8
boto3>=1.24,<1.25

#Datamart libraries
pymongo>=3.12,<3.13
mysql-connector-python>=8.0,<8.1
psycopg2-binary>=2.9,<2.10

#Data Science commmon libraries
numpy
pandas
matplotlib
scikit-learn
mlflow-saagie
saagieapi

