ade4
argparse
arules
arulesSequences
AUC
aws.s3
betareg
bit
breakpoint
cairoDevice
caret
caretEnsemble
cartography
changepoint
classInt
cluster
colorspace
colourpicker
corrplot
curl
data.table
dbscan
DescTools
doParallel
doSNOW
dtplyr
dtw
dtwclust
dummies
dygraphs
e1071
factoextra
FactoInvestigate
FactoMineR
Factoshiny
fastmatch
ff
ffbase
FNN
forecast
futile.logger
ggplot2
glmnet
gsubfn
h2o
hunspell
igraph
implyr
jsonlite
kernlab
kknn
knitr
kohonen
labeling
lattice
LDAvis
leaflet
leaps
lsa
magrittr
mapproj
maps
maptools
markdown
Matrix
mclust
missMDA
mlogit
mvoutlier
networkD3
odbc
packrat
plotly
pls
pROC
prophet
proto
proxy
pvclust
randomForest
rattle
RcmdrMisc
RColorBrewer
Rcpp
readr
readxl
recommenderlab
reshape2
rJava
RJDBC
rjson
RMySQL
ROCR
ROSE
rpart.plot
RSelenium
rsparkling
RSQLite
rstantools
Rtsne
rvest
RWeka
sas7bdat
scales
shiny
shinydashboard
shinyjs
shinythemes
skmeans
SnowballC
sp
sqldf
stringi
stringr
survival
syuzhet
tm
topicmodels
tree
trend
TSclust
tseries
wordcloud
xgboost
xts