r-cran-arules
r-cran-colorspace
r-cran-corrplot
r-cran-curl
r-cran-data.table
r-cran-dbscan
r-cran-dtw
r-cran-dummies
r-cran-dygraphs
r-cran-e1071
r-cran-futile.logger
r-cran-implyr
r-cran-jsonlite
r-cran-knitr
r-cran-labeling
r-cran-leaps
r-cran-magrittr
r-cran-markdown
r-cran-odbc
r-cran-packrat
r-cran-proxy
r-cran-readr
r-cran-reshape2
r-cran-rpart.plot
r-cran-shiny
r-cran-shinydashboard
r-cran-shinyjs
r-cran-stringi
r-cran-stringr
r-cran-tseries
r-cran-xgboost
r-cran-xts
