name: BUILD ONLY MODIFIED

on:
  push:
    branches:
      - '*'
      - '!master'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: extract branch
        id: extract_branch
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      - name: run gradle :buildModifiedJobs
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
        run: |
          ./gradlew buildModifiedJobs --parallel --scan -Dversion.buildmeta=${{ steps.extract_branch.outputs.branch }}
      - name: extract branch
        id: git_info
        run: echo "::set-output name=changes::$(git status -s | wc -l)"
      - name: Commit files
        if: steps.git_info.outputs.changes > 0
        run: |
          git config --local user.email "github-action@saagie.com"
          git config --local user.name "GitHub Action Bot"
          git add **/metadata.yml version.properties
          git commit -m "[BOT] Set version for this branch"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}     
          branch: ${{ steps.extract_branch.outputs.branch }}
      - name: extract version
        id: extract_version
        run: echo "::set-output name=v::$(cat version.properties | grep 'semver' | sed -e 's/^version.semver=//')"
      - name: List all releases
        uses: actions/github-script@0.3.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const result = await github.repos.listReleases(context.repo);
            result.data
              .filter(release => release.tag_name == "${{ steps.extract_version.outputs.v }}")
              .forEach(function(release){
                  const releaseObj = {release_id:release.id, owner:context.repo.owner, repo:context.repo.repo}
                  github.repos.deleteRelease(releaseObj)
                });
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.extract_version.outputs.v }}
          release_name: Release ${{ steps.extract_version.outputs.v }}
          draft: false
          prerelease: true
      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./tmp-zip/certified.zip
          asset_name: certified.zip
          asset_content_type: application/zip