name: BUILD ONLY MODIFIED

on:
  pull_request:
    types: [assigned, opened, reopened]
  push:
    branches:
      - '*'
      - '!master'

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[BOT]')"

    steps:
      - uses: actions/checkout@v1
      - name: extract branch
        id: extract_branch
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      - name: Patch Docker Daemon data-root
        run: |
          DOCKER_DATA_ROOT='/mnt/var/lib/docker'
          DOCKER_DAEMON_JSON='/etc/docker/daemon.json'
          sudo mkdir -p "${DOCKER_DATA_ROOT}"
          jq --arg dataroot "${DOCKER_DATA_ROOT}" '. + {"data-root": $dataroot}' "${DOCKER_DAEMON_JSON}" > "/tmp/docker.json.tmp"
          sudo mv "/tmp/docker.json.tmp" "${DOCKER_DAEMON_JSON}"
          sudo systemctl restart docker
      - name: run gradle :buildModifiedJobs
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
        run: |
          ./gradlew buildModifiedJobs --parallel --scan -Dversion.buildmeta=${{ steps.extract_branch.outputs.branch }}
      - name: extract branch
        id: git_info
        run: echo "::set-output name=changes::$(git status -s | wc -l)"
      - name: Commit files
        if: steps.git_info.outputs.changes > 0
        run: |
          git config --local user.email "github-action@saagie.com"
          git config --local user.name "GitHub Action Bot"
          git status
          git add .
          git commit -m "[BOT] Set version for this branch"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_SECRET}}     
          branch: ${{ steps.extract_branch.outputs.branch }}
      - name: extract version
        id: extract_version
        run: echo "::set-output name=v::$(cat version.properties | grep 'semver' | sed -e 's/^version.semver=//')"
      - name: List all releases
        uses: actions/github-script@0.3.0
        with:
          github-token: ${{secrets.GITHUB_SECRET}}
          script: |
            const result = await github.repos.listReleases(context.repo);
            result.data
              .filter(release => release.tag_name == "${{ steps.extract_version.outputs.v }}")
              .forEach(function(release){
                  const releaseObj = {release_id:release.id, owner:context.repo.owner, repo:context.repo.repo}
                  github.repos.deleteRelease(releaseObj)
                });
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_SECRET}}
        with:
          tag_name: ${{ steps.extract_version.outputs.v }}
          release_name: Release ${{ steps.extract_version.outputs.v }}
          draft: false
          prerelease: true
      - name: Upload Release technologies Asset ZIP
        id: upload-release-asset-technologies-zip
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_SECRET}}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./tmp-zip/technologies.zip
          asset_name: technologies.zip
          asset_content_type: application/zip
      - name: Upload Release technologies Asset JSON
        id: upload-release-asset-technologies-json
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_SECRET}}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./tmp-zip/docker_listing.json
          asset_name: docker_listing.json
          asset_content_type: application/json
      - name: Upload Release technologies Asset TEXT-PLAIN
        id: upload-release-asset-technologies-textplain
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_SECRET}}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./tmp-zip/docker_listing.txt
          asset_name: docker_listing.txt
          asset_content_type: text/plain